.graph{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(41, 91, 121);
    align-items:center;
    text-align: justify;
    max-height:420px;
    min-width:100px;
    margin:10px;
    padding:20px;
    width:100%;
    box-shadow: 2px 2px 5px;
}
.graph:hover{
    width:101%;
    height: 101%;
    box-shadow: 4px 4px 8px;
}
.graph_infohead{
    font-size: 12px;
    font-weight: 22px;
    text-align:center ;
}
.graph_image{
    padding: 10px;
    height: 240px;
    width: 440px;
}
.graph_image:hover{
    box-shadow: 2px 2px 8px;
}
.graph_info{
    color: black;
    padding: 10px;
    font-size: 22px;
    font-family:inherit;
}
